

.details_main_div_p{
   /* Auto Layout */

   display: flex;
   flex-direction: row;
   align-items: flex-start;
   padding: 0px;
   background: #35393F;
   width: 100%;
left: 0px;
top: 504px;
border-radius: 0px;
   height: 1200px;
   position: absolute;
   left: 0%;
   right: 91.46%;
   top: 76.8%;
   bottom: 0%;
}
.details_main_div_p_height{
    height: 1200px;
}
.cast_details_div_p{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
border: 0px solid #35393F;
position: absolute;
left: 2%;



border-radius: 0px;

right: 91.46%;
top: 0%;
bottom: 0%;
}
.cast_movie_p{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

position: static;
width:55px;
height: 25px;
left: 100px;
top: 0%;

font-family: Proxima Nova;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 17px;
letter-spacing: 0em;
text-align: left;
cursor: pointer;
/* Inside Auto Layout */
border: 0px solid #35393F;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 28px;
background: transparent;


}

.details_movie_p{
    background: transparent;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

position: static;
width: 44px;
height: 25px;
left: 57px;
top: 0px;


/* Inside Auto Layout */
border: 0px solid #35393F;

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 28px;
}
.divider_p{
    
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* text/greyest */

border: 1px solid #747574;
height: 0px;
width: 99.8%;
left: 0px;
top: 25px;
border-radius: nullpx;

}

.cast_image_p{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 604px;
height: 112px;
left: 2%;
top: 10px;
}
.cast_tile_p{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

position: static;
width: 74px;
height: 112px;
left: 530px;
top: 0px;


/* Inside Auto Layout */

flex: none;
order: 5;
flex-grow: 0;
margin: 40px 32px;
}
.cast_tile_p>.img{
    
position: static;
width: 74px;
height: 74px;
left: 0px;
top: 0px;

border-radius: 8px;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 8px 0px;
}
.cast_name_p{
    position: static;
width: 55px;
height: 30px;
left: 9.5px;
top: 0px;

/* Caption 2 */

font-family: Proxima Nova;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
display: flex;
align-items: center;
text-align: center;

/* text/day */

color: #FFFFFF;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 8px 0px;
}

.active_border_p{
    border-bottom: 2px solid  #E85C3B;
    color: #FFFFFF;    
}