/* body {
    background: linear-gradient(123.9deg, #33302F 9.65%, #6E4335 90.39%);
} */


/* div {
    background: linear-gradient(123.9deg, #33302F 9.65%, #6E4335 90.39%);
    width: 200px;
    height: 200px;
} */